/* RESET */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.bg-grey{
  background-color: lightgrey;
  padding: 20px 0px;
}

h1{
  text-align: center;
}

.btn{
  margin: 20px;
  justify-content: center;


}